ion-header::after {
    display: none;
}

ion-img::part(image) {
    width: 100px; /* or whatever value */
}

ion-item{
    --background: light;
}

ion-col {
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ion-content {
    --background: url('../../assets/Landingfinal.svg') no-repeat 100% 100%;
    background-size: cover;
}